@import '../../assets/index.scss';

footer {
    background-color: $main-color;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding-top: 55px;
    padding-bottom: 55px;
    .container  {
        width: 77%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 60px;

        .logo {
            width: 203px;
            height: 47px;
        } 

        p {
            font-size: 12px;
            color: $cream-color;
            white-space: nowrap;

        }
    }    
}